.zy {
    color: #dd0000;
}

.dm {
    color: #df143c;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Consolas;
}

.ts {
    color: #ff9955;
}