body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

.dhl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.dhl li {
    float: left;
}

.dhl li a {
    transition: 0.5s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dhl li a:hover {
    background-color: #111;
}

.dhl .floatright {
    float: right;
}


/* 针对电脑分辨率进行调整 */

@media screen and (min-width: 769px) {
    .dbox {
        margin: 15px 25px;
        padding: 0px 20px;
        border: 1px solid #e8e7e3;
        background-color: white;
    }
}


/* 针对平板电脑分辨率进行调整 */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .pbox {
        margin: 8px;
        padding: 0px 15px;
        border: 1px solid #e8e7e3;
        background-color: white;
    }
}


/* 针对手机分辨率进行调整 */

@media screen and (min-width: 0px) and (max-width: 425px) {
    .sbox {
        padding: 0px 10px;
        border: 1px solid #e8e7e3;
        background-color: white;
    }
}

.wz {
    list-style-type: none;
    padding: 0px;
}

.wz li a:link {
    color: #1e1e1e;
}

.wz li a:visited {
    color: #1e1e1e;
}

.wz li a:hover {
    color: tomato;
}

.wz li a:active {
    color: tomato;
}